@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&family=Roboto:wght@500;700&family=Saira+Condensed:wght@500&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(237, 233, 233);
}

h1,
h2 {
    font-family: 'Saira Condensed', sans-serif;
    font-weight: 500;
    margin-bottom: 0px;
}

img {
    width: 100%;
}

a {
    color: #555;
}

button {
    cursor: pointer;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 3%;
    justify-content: center;
    text-align: center;
    color: #4b3d31;
}

.top h2 {
    margin-bottom: 0;
    font-weight: normal;
}

#switch-language-btn {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border: none;
}

#switch-language-btn img {
    width: 20px;
}

.logo {
    width: 50vw;
    max-width: 400px;
    padding: 10px;
    border-bottom: 1px solid;
}

.map {
    width: 100vw;
}

.rezeption-div {
    margin-top: -2px;
    padding-top: 0;
    padding-block: 5%;
}

.öffnungszeiten {
    border-radius: 2px;
    background-color: #8a7766;
    color: whitesmoke;
    width: fit-content;
    padding: 0px 10px;
    font-size: 1.2rem;
    line-height: 1.8;
    min-width: 70%;
}

.margin-top {
    margin-top: 50px;
}

.check-in-out-div {
    margin-block: 20px;
}

.check-in-out-div * {
    margin-block: 5px;
}


.frühstück-zeiten {
    font-weight: 500;
    margin-bottom: 40px;
}

.snacks-div,
.restaurants-div,
.ausflusgziele-div,
.garage-info-div,
.frühstück-div,
.rezeption-div {
    padding-inline: 5%;
    line-height: 1.8;
}

.garage-info-div {
    margin-bottom: 40px;
}

.img {
    max-width: 400px;
    width: 90vw;
    margin: 5vw;
    border-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.ausflusgziele-div ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#restaurant-list li {
    margin-block: 40px;
}

#toggle-restaurants-btn,
#toggle-ausflugsziele-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8a7766;
    color: whitesmoke;
    border: none;
    padding: 7px;
    border-radius: 3px;
}

#toggle-restaurants-btn {
    margin-block: 30px;
}

#toggle-ausflugsziele-btn {
    margin-top: 30px;
}

.geysir-andernach {
    margin-top: 30px;
}

.rhein-img {
    margin-top: 50px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

footer {
    background-color: #8a7766;
    color: whitesmoke;
    padding: 5%;
}

.flex {
    display: flex;
    align-items: center;
    gap: 15px;
    color: whitesmoke;
    text-decoration: none;
}

.restaurant-beschreibung {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}

a {
    text-underline-offset: 3px;
}

.phone-icon {
    display: flex;
    margin-top: -12px;
    gap: 10px;
    align-items: center;
}

.germany-icon {
    height: 15px;
    width: 15px;
    position: absolute;
    left: 6px;
    top: 6px;
    z-index: 100;
}

.england-icon {
    height: 15px;
    width: 15px;
    position: absolute;
    right: 6px;
    top: 6px;
    z-index: 100;
}


.switch {
    position: absolute;
    right: 8px;
    top: 8px;
    user-select: none;
    display: inline-block;
    width: 48px;
    height: 27.2px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    user-select: none;

}

.slider:before {
    position: absolute;
    content: "";
    height: 20.8px;
    width: 20.8px;
    left: 3.2px;
    bottom: 3.2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #8a7766;
}

input:focus+.slider {
    box-shadow: 0 0 1px #8a7766;
}

input:checked+.slider:before {
    -webkit-transform: translateX(20.8px);
    -ms-transform: translateX(20.8px);
    transform: translateX(20.8px);
}


.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}